* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: sans-serif;
    color: aliceblue;
}

body {
    height: 100vh;
    background-color: #1F1F1F;
}

img {
    height: 500px;
    width: 630px;
}

.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.main-container div {
    height: 100vh;
    width: 100vh;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
}

.text-container h1 {
    line-height: 2;
    font-size: 60px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.text-container h2 {
    line-height: 3;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.text-container p {
    font-family: 'Poppins', sans-serif;
}

.text-container p a {
    color: #c8308b;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.text-container label {
    display: block;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: #c8308b;
    font-weight: bold;
    font-size: 18px;
}

.text-container input {
    border: none;
    outline: none;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border-bottom: 3px solid aliceblue;
    color: aliceblue;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}

.text-container input:focus {
    border-color: #c8308b;
    transition: .3s;
}

::placeholder {
    color: rgba(240, 248, 255, 0.24);
}

button {
    width: 94%;
    margin-top: 40px;
    margin-left: 13px;
    color: aliceblue;
    background-color: #c8308b;
    border-radius: 20px;
    height: 35px;
    border-style: none;
    font-size: 18px;
}

button:hover {
    transform: scale(1.06);
    transition: .3s;
}