*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    min-height: 100vh;
    background-color: #1F1F1F;
    background-image: url("./bg1.png"),
    url("./bg2.png");
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    background-size: 230px,200px;
}

.navbar{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px 0 290px;
}


.navbar  ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0 30px;
    font-size: 20px;
}
.navbar  ul li a{
    color: aliceblue;
    text-decoration: none;
    position: relative;
    transition: .3s ease;
}
.navbar  ul li a::after{
    content: "";
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #c8308b;
    left: 0;
    bottom: -8px;
    transition: .3s ease;
}
.navbar  ul li a:hover::after{
    width: 100%;
    
}
.navbar  ul li a:hover{
    color: #c8308b;
}

#write{
    color: #c8308b;
    
}

.navbar  input{
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid aliceblue;
    color: aliceblue;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}
.navbar  input:focus{
    border-color: #c8308b;
    transition: .3s;
}
.Compose-container{
    padding: 0 90px;
    height: 85vh;
}
.comments-header{
  padding-bottom: 20px;
  
}
input[type=text] {
  width: 70%;
  padding: 12px 20px;
  margin: 1.7%;
  margin-left:230px;
  box-sizing: border-box;
  background-color:#1F1F1F ;
  color: white;
  border:1px;
}
.add-comment{
 margin-top: 60px;
  
}
.comments-container{
  padding:30px 90px;
  height:18vh;
  color: aliceblue;
}
.glass{
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0.0));
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    padding: 40px 50px;
    position: relative;
}
input[type=submit]{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:6px;
}
.title{
    font-size: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    display: block;
    margin-bottom: 30px;
    color: aliceblue;
    width: 100%;
}
.username{
 transform: translateY(15px);
  font-size: 20px;
  margin-left: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  display: block;
  color: aliceblue;
  width: 100%;
}

.holder{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}
.content{
    background-color: transparent;
    width: 100%;
    height: 85%;
    border: none;
    outline: none;
    color: aliceblue;
    font-size: 20px;
    resize: none;
    letter-spacing: 0.5px;
}
.comment{
position: absolute;
padding-top: 10px;
padding-left: 48px;
  background-color: transparent;
  width: 80rem ;
  height: 85%;
  border: none;
  outline: none;
  color: aliceblue;
  font-size: 12px;
  resize: none;
  letter-spacing: 0.5px;
}

.place{
  position: absolute;
  display: flex;
  flex-direction: row;
}
.profile{
  float: left;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  background-color: blue;
  clip-path: circle();
  position: absolute;
  margin-left: 80px;
  margin-top:10px;
  display: flex;
}
.user-image{
  margin-top: -30px;
  margin-left: -35px;
  float: left;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  background-color: blue;
  clip-path: circle();
  position: absolute;
  top: 50%;
}

.username{
  padding-left: 10px;
  margin-top: -40px;
}

.like-button{
  margin-top: 40px;
  margin-left:35px;
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
  background-color: blue;
  clip-path: circle();
}
.like, .dislike{
  padding-top: 10px;
}

.dislike-button{
  margin-top: 40px;
  margin-left: 100px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
  background-color: blue;
  clip-path: circle();
}
::-webkit-scrollbar {
  width: 13px;
  height: 13px;
  cursor: alias;
}
::-webkit-scrollbar-button {
  width: 17px;
  height: 17px;
}
::-webkit-scrollbar-thumb {
  background: #d86ead;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c8308b;
}
::-webkit-scrollbar-thumb:active {
  background: #92165f;
}
::-webkit-scrollbar-track {
  background: #8c8c8c;
  border: 0px none #ffffff;
  border-radius: 68px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}